*.py[cod]
*.so
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__
pip-log.txt
.coverage
.tox
nosetests.xml
*.mo
.mr.developer.cfg
.project
.pydevproject
.idea
.kateproject
*.suo
*.pyproj
*.sln
tags
TAGS
*~
*.swp
*.bak
*.aux
*.out
*.bbl
*.bib
*.log
*.el
*humbs.db
.DS_Store
